.sub-menu {
	background: $gray-200;
	color: $gray-600;
	padding: 1px 8px;
	@include clearfix();
	.link {
		cursor: pointer;
		color: $blue;
		padding: 2px;
		height: 30px;
		display: inline-block;
		&:hover {
			color: darken($blue, 10%);
		}
	}
}

.sub-menu-title {
	float: left;
	font-size: 24px;
	line-height: 26px;
	font-weight: 100;
	padding: 0 10px 0 0;
}

.sub-menu-group {
	float: left;
}

.sub-menu-secondary {
	float: right;
	font-size: 22px;
	line-height: 28px;
}

.sub-menu-item {
	float: left;
	&:first-child {
		border: 0;
	}
	a,
	.sub-menu-item-active {
		font-size: 1.4rem;
		display: block;
		padding: 4px 8px;
		line-height: 2.1rem;
		color: $gray-900;
	}
	.sub-menu-item-active {
		color: #fff;
		background: $gray-900;
	}
	.badge {
		margin: 0 0 0 4px;
		font-size: 1.1rem;
		line-height: 1.1rem;
		vertical-align: middle;
	}
	a {
		vertical-align: middle;
		background-color: rgba(255, 255, 255, 1);
		&:hover {
			text-decoration: none;
			background-color: rgba(255, 255, 255, 0.1);
		}
	}
}