$font-size-base: 1.4rem !default;
$task-border-color: #ccc !default;
$task-border-radius: 3px;
$task-head-color:#fff;
$task-head-bg-color:#444;
$modal-backdrop-bg: rgba(0, 0, 0, 0.4);
$progress-font-size: 1rem;


// card title bg
$important-urgent: #ce52bd !default;
$important-not-urgent: #ffc107 !default;
$not-important-urgent: #20c997 !default;
$not-important-not-urgent: #17a2b8 !default;

